
body, .main, .reservation{
    background-color: black;
}

.header, .main, .shefinfo, .food, h3, .container, .btn, .hour, .day, .icon, .timeout, .reservation{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.header, .main, .shefinfo, .food, h3, .container, .btn, .hour, .day, .icon, .timeout, .reservation, .main, .slider button{
    color: white;
}

.senslay{
    font-size: 40px;
}

.menu_link {
    position: relative;
}

.menu_link:hover:before {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
}

.menu_link:before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #B7B7B7;
    position: absolute;
    left: 0; bottom: 1px;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: right;
    -ms-transform-origin: right;
    transform-origin: right;
    -webkit-transition: -webkit-transform 0.25s;
    transition: -webkit-transform 0.25s;
    -o-transition: transform 0.25s;
    transition: transform 0.25s;
    transition: transform 0.25s, -webkit-transform 0.25s;
}

.main, .reservation, h5, .container, .btn, .day{
    font-size: 20px;
}

.main{
    position: fixed;
    z-index: 100;
    right: 0px;
    left: 0px;
}

.middle{
    margin-left: 50vh;
}

.container, .header, .timeout, .someinfo, .discount, .saletext, .block, .food, .booking, .container, .pageend, footer{
    display: flex;
}
#about{
    margin-bottom: 9%;
}

.aboutshef_mobile{
    display: none;
}

.container{
    justify-content: flex-end;
}

.shefsname{
    font-size: 22px;
    font-weight: bold;
    margin-top: 12vh;
}

.sushi1, .sushi2, .sushi3{
    width: 100px;
}

.header, .someinfo, .pageend{
    justify-content: center;
}
.heading{
    color: #B8001F;
    border-bottom: 1px solid;
    margin-top: 80px;
    margin-bottom: 50px;
    font-size: 55px;
}

.heading:hover, .saleheading, .booking, .btn, h3:hover{
    color: #F5F5F5;
}

.image{
    margin-left: 300px;
}

.shefinfo, .timeout, .block, .booking, .container{
    flex-direction: column;
}

.shefinfo{
    font-size: 17px;
    margin-left: 70px;
}

.timeout, .block, .booking, .container{
    align-items: center;
}

.timeout{
    margin-top: 80px;
    margin-bottom: 80px;
    background: rgba(133, 13, 2, 0.7);
    padding: 60px;
}

.discount, .timeout, footer{
    flex-wrap: wrap;
}

.discount{
    margin-bottom: 70px;
}

.saleheading{
    font-size: 25px;
}

.sale{
    margin-left: 15px;
    background: rgba(133, 13, 2, 0.7);
    height: 10vh;
    width: 10vh;
    padding: 15px;
    border: 1px solid #F5F5F5
}

.reservation{
    padding: 20px;
    text-decoration: none;
    border-radius: 10px;
    width: 70px;
}

.reservation:hover{
    background: rgba(133, 13, 2, 0.7);
    border: 1px solid #F5F5F5;
}

.horizontal2, .horizontal1{
margin-top: 30px;
}

.tablet{
    display: none;
}

.chapter{
    font-size: 25px;
}

.food{
    justify-content: space-around;
}

td{
    font-size: 15px;
}

th{
    font-size: 17px;
}

.tiny{
    margin-top: 50vh;
    margin-left: 10vh;
}

.slider{
    position: relative;
    width: 130vh;
    margin: auto;
    overflow: hidden;
}

.slider img{
    width: 100%;
    display: none;
}

img.displaySlide{
    display: block;
    animation-name: fade;
    animation-duration: 1.9s;
}

.slider button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    padding: 10px 15px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.prev{
    left: 0;
}

.next{
    right: 0;
}

.icon{
    color: #B7B7B7;
}

.icon:hover{
    color: aliceblue;
}

.booking{
    margin-top: 60px;
}

.time, .folder{
    width: 280px;
    height: 50px;
    border-radius: 10px;
    font-size: 17px;
}

.container{
    margin-top: 10px;
}

.btn{
    margin-top: 70px;
    background-color: #B8001F;
    width: 180px;
    height: 50px;
    padding: 10px;
}

.btn:hover{
    border: 2px solid #F5F5F5;
}

h3{
    color: #B8001F;
    font-size: 40px;
    margin-bottom: 40px;
    margin-top: 60px;
}

.map{
    margin-left: 10vh;
}

.pageend{
    margin-top: 10vh;
}

footer{
    justify-content: space-between;
}

@keyframes fade {
    from {opacity: 0.3;}
    to {opacity: 1;}
}

@media all and (max-width:1280px){

    .sushi1, .sushi2, .sushi3{
        width: 60px;
    }

    .horizontal1, .horizontal2{
        width: 420px;
    }

    .chapter{
        font-size: 17px;
    }

    td{
        font-size: 15px;
    }

    th{
        font-size: 10px;
    }

    .map{
        width: 600px;
    }

    .tiny{
        margin-top: 400px;
    }
}

@media all and (max-width:1024px){

    .sale{
        width: 15vh;
        height: 15vh;
    }

    h5{
        font-size: 20px;
    }

    .sushi1, .sushi2, .sushi3{
        width: 40px;
    }

    .middle{
        margin-left: 3vh;
    }

    .tiny{
        margin-left: 3vh;
    }

    .aboutshef{
        width: 300px;
        height: 450px;
    }

    .shefinfo{
        font-size: 13px;
        margin-left: 15px;
    }

    .shefsname{
        margin-top: 80px;
    }

    .heading{
        font-size: 37px;
        margin-top: 40px;
    }

    .horizontal1, .horizontal2{
        width: 350px;
        margin-top: 10px;
    }

    .beverages{
        opacity: 0;
    }

    .slider{
        width: 800px;
    }

    .chapter{
        font-size: 15px;
    }

    td{
        font-size: 13px;
    }

    h3{
        font-size: 30px;
    }

    .time, .folder{
        width: 200px;
        height: 40px;
        font-size: 13px;
    }

    label{
        font-size: 15px;
    }

    .btn, .reservation{
        width: 150px;
    }

    .day, .btn, .reservation{
        font-size: 17px;
    }

    .map{
        margin-left: 20px;
        width: 420px;
    }
}

@media all and (max-width:912px){
    .sale{
        width: 8vh;
        height: 8vh;
    }

    .tablet{
        display: block;
    }

    .beverages{
        opacity: 1;
    }
}

@media all and (max-width:820px){

    .tablet{
        display: none;
    }
    
    .senslay{
        font-size: 40px;
    }
    .middle{
        margin-left: 1vh;
    }

    .menu_link{
        font-size: 18px;
    }

    .aboutshef{
        display: none;
    }

    .aboutshef_mobile{
        display: block;
        width: 200px;
        height: 380px;
    }

    .shefsname{
        margin-top: 20px;
        font-size: 15px;
    }

    .shefinfo{
        font-size: 11px;
        margin-left: 15px;
    }

    .heading{
        font-size: 27px;
    }

    .horizontal1{
        display: none;
    }

    .horizontal2{
        width: 300px;
    }

    .slider{
        width: 600px;
    }

    h3{
        font-size: 20px;
    }

    .time, .folder{
        width: 180px;
        height: 30px;
        font-size: 11px;
    }

    label{
        font-size: 13px;
    }

    .btn, .reservation{
        width: 120px;
        height: 40px;
        margin-top: 50px;
    }

    .day, .btn, .reservation{
        font-size: 13px;
    }

    .container{
        margin-top: 10px;
    }

    .map{
        width: 400px;
    }
    .beverages{
        opacity: 0;
    }
}


@media all and (max-width:540px){

    h5{
        font-size: 15px;
    }

    .saleheading{
        font-size: 17px;
    }

    .beverages{
        opacity: 1;
    }

    .tiny{
        margin-bottom: -100px;
        margin-top: 250px;
    }

    table{
        margin-left: 5px;
        margin-right: 5px;
    }

    .slider{
        width: 450px;
    }

    .horizontal2{
        display: none;
    }

    th{
        font-size: 12px;
    }

    .map{
        margin-left: 0px;
    }

    .pageend{
        flex-direction: column;
        align-items: center;
    }

    .open{
        margin-bottom: 20px;
    }

}

@media all and (max-width:450px){

    .sale{
    width: 7vh;
    height: 9vh;
    }

    h5{
        font-size: 13px;
    }

    .icon{
        width: 10px;
        margin-right: 10px;
    }
    .border-top{
        margin-right: 10px;
    }

    .senslay{
        font-size: 22px;
    }

    .tiny{
        margin-left: 0px;
    }

    .timeout{
        padding: 40px;
    }

    .shefinfo{
        font-size: 10px;
    }

    .sushi1, .sushi2, .sushi3{
        display: none;
    }

    .map{
        margin-left: 7px;
    }

    .slider{
        width: 400px;
    }

    .map{
        width: 370px;
    }

    br{
        display: none;
    }

    .aboutshef_mobile{
        width: 160px;
        height: 240px;
        margin-top: 40px;
    }
}

@media all and (max-width:375px){

    .timeout{
        padding: 20px;
    }

    h5{
        font-size: 11px;
    }

    .reservation{
        padding: 15px;
    }


    .saleheading{
        font-size: 13px;
    }

    .shefinfo, footer{
        font-size: 10px;
        margin-top: 70px;
    }

    .shefsname, td{
        font-size: 12px;
    }

    .aboutshef_mobile{
        width: 180px;
        height: 280px;
    }


    .slider{
        width: 350px;
    }

    .map{
        width: 300px;
    }

    .phone{
        display: none;
    }
}
